spring:
  application:
    name: mqttv5demo
  integration:
    management:
      # Show full message headers temporarily
      default-logging-enabled: true
  data:
    redis:
      host: localhost
      port: 6379
  rabbitmq:
    host: localhost
    port: 5672
    username: username
    password: password
    virtual-host: /

logging:
  level:
    org.springframework.integration: INFO
    org.springframework.integration.mqtt: INFO
    org.springframework.integration.channel: INFO
    org.eclipse.paho.mqttv5.client: INFO
    reactor.netty: INFO

# MQTT 配置
mqtt:
  useMqttv3: false
  # MQTT Broker配置
  broker: tcp://192.168.9.148:10883
  # MQTT 用户名
  username: username
  # MQTT 密码
  password: password
  # MQTT 客户端ID（订阅）
  client-id-sub: mqttSub
  # MQTT 客户端ID（发布）
  client-id-pub: mqttPub
  # 连接超时时间（秒），默认30秒
  connection-timeout: 30
  # 心跳间隔时间（秒），默认60秒
  keep-alive-interval: 60
  # 是否自动重连，默认true
  automatic-reconnect: true
  # 是否清除会话，默认true
  clean-start: true
  # 最大消息接收数量，默认100
  receive-max: 100
  # 共享消息分组ID
  group-id: groupId
  # 默认发布主题
  default-topic-to-pub: topic/to/publish
  # 默认订阅主题，多个主题用逗号分隔
  default-topic-to-sub: thing/product/+/osd,thing/product/+/state,thing/product/+/state_reply,thing/product/+/services,thing/product/+/services_reply,thing/product/+/events,thing/product/+/events_reply,thing/product/+/requests,thing/product/+/requests_reply,sys/product/+/status,sys/product/+/status_reply,thing/product/+/property/set,thing/product/+/property/set_reply,thing/product/+/drc/up,thing/product/+/drc/down
  # 消息发布的默认服务质量，默认2（只接收一次）
  qos: 2
  # 入站消息线程池配置
  inbound-thread:
    # 核心线程数
    core-pool-size: 20
    # 最大线程数
    max-pool-size: 50
    # 线程队列容量
    queue-capacity: 2000
    # 线程存活时间，单位：秒
    keep-alive: 120
  tracker:
    # redis/memory 回复跟踪器配置
    provider: redis
    channel: mqtt:tracker
    key-prefix: "mqtt:tracker:id:"
    default-ttl-millis: 30000
storage:
  provider: minio
  endpoint: http://localhost:9000
  accessKey: minioadmin
  secretKey: minioadmin
  region: us-east-1
  bucket: minio
  roleArn:
  roleSessionName:
  expire: 3600
sdk:
  appId: your_app_id
  appKey: your_app_key
  appSecret: your_app_secret
  ntpServer: ntp1.aliyun.com
  ntpPort: 123